In [11]:
import pandas as pd

In [18]:
lines = pd.read_csv(r'src/sequential_times.csv')

In [19]:
lines

   3  3.1   9   5  0.5   1000
0  4    4  16  10  0.2  10000

In [22]:
df = pd.DataFrame(lines)

In [23]:
df

   rows  cols  max_cores  min_cores  wl  time
0   NaN   NaN        NaN        NaN NaN   NaN