In [5]:
statistics_file = './statistics/cpu_times.csv' #Too long names dosnt work on subprocess (dont know why)

script_name = './run-benchmark.sh'
script_args = " >> " + statistics_file
run_command = script_name + script_args
run_command

'./run-benchmark.sh >> ./statistics/cpu_times.csv'

Run the script to generate all the execution times statistics:

In [11]:
#import os
##os.execv('/bin/sh',[script_name,script_args])
import subprocess
subprocess.call("rm " + statistics_file, shell=True)
subprocess.call(run_command, shell=True)

0

Load the csv file generated by the script into a pandas dataframe

In [7]:
import pandas as pd
lines = pd.read_csv(statistics_file)

In [8]:
lines

   ROWS  COLS  CONFIGURATION  NUM OF CORES  MIN_CORE  WORKLOAD  EXECUTION TIME
0     3     3              9             6       0.5  0.372232             NaN
1     4     4             16             6       0.5  1.720308             NaN
2     5     5             25             6       0.5  4.509160             NaN

In [9]:
df = pd.DataFrame(lines)

In [10]:
df

   ROWS  COLS  CONFIGURATION  NUM OF CORES  MIN_CORE  WORKLOAD  EXECUTION TIME
0     3     3              9             6       0.5  0.372232             NaN
1     4     4             16             6       0.5  1.720308             NaN
2     5     5             25             6       0.5  4.509160             NaN